body {
	background-color: #808080;
}

h1 {
	color: #288ADA;
	font-family: Broadway;
	font-weight: 900;
}

p {
	color: #fff;
}

h5 {
	color: #0099ff;
}

#contact {
	color: #0099ff;
	font-weight: 600;
}

#jumbo {
	border-radius: 5px;	
}

.modal-body {
	color: #fff;
}